.personalInfo {
  border: 1px solid black;
  height: auto;
  width: 1000px;
  display: grid;
}

.personalInfo > div {
  display: grid;
  grid-template-rows: repeat(2, 1fr);
}

.personalInfo > div > label {
  font-size: 1.5rem;
  align-self: flex-end;
  justify-self: flex-start;
  margin-left: 1rem;
}

input {
  border-radius: 0.5rem;
  width: 30%;
  height: 40px;
  margin: 10px;
  font-size: 1.4rem;
  padding-left: 0.5rem;
}

.experienceForm {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  border: 1px solid black;
  width: auto;
}
.experienceForm:nth-child(even) {
  background-color: blue;
}

.experienceForm > .textInput {
  grid-column: 1/2;
}

.experienceForm > .dateInput {
  grid-column: 2/3;
}
