.navBar {
  background-color: rgb(28, 49, 33);
  width: 100vw;
  height: 70px;
  position: fixed;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
  font-weight: 700;
}
.navItems {
  width: 100vw;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.navItems > ul {
  list-style: none;
  width: auto;
  grid-column: 2 / 3;
  display: flex;
  justify-content: space-evenly;
}
.navItems > h2 {
  grid-column: 1 / 2;
  align-self: center;
  justify-self: flex-start;
  margin-left: 0.5rem;
}

.menuItem {
  width: auto;
  height: auto;
  color: white;
  font-size: 2rem;
  font-weight: 700;
  align-self: center;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
}

.menuItem:hover {
  transform: scale(1.2);
}

.menuItem:active {
  transform: scale(0.95);
}
