.App {
  height: 100vh;
  display: grid;
  grid-template-rows: 50px 1fr 50px;
  justify-content: center;
  text-align: center;
}

.footer {
  grid-row: 3/4;
}
.contentContainer {
  margin-top: 100px;
  grid-row: 2/3;
}
